.landingpage{
    /* border: 1px solid purple; */
    padding: 2rem 0;
    padding-bottom: 10rem;
    
}
.landingInfo{
    /* border: 1px solid red; */
    width: 28%;
    padding: 1rem;
    padding-top:3rem;
    line-height: 1.5rem;
    height: 30%;  
    /* margin-top: 2rem; */
}
.landingInfo .btn{
    background-color: #2AA8FF;
    color: #FFFFFF;
}
.landingInfo h1{
    font-weight: 700;
}
.landingimg{
    margin-bottom: 3rem;
    width: 40%;
    /* border: 1px solid red; */
    height: 100%;
}
.landingimg img{
    width: 100%;
    /* object-fit: cover; */
    height: 100%;
    /* border: 1px solid red; */
    
}

@media(max-width:475px){
    .landingpage{
        width: 100%;
        height: auto;
       
    }
    .landingInfo{
        width: 70%;
       padding-top: 1rem;
        margin: auto;
        margin-top: 1rem;
    }
    .landingimg{
        width: 80%;
        /* border: 1px solid red; */
        margin: auto;
        
        /* padding: 0rem 3rem; */
    }
    .landingimg img{
        object-fit: cover;
        height: 30%;
        width: 100%;

        
    }

}