.each{
    background-color: #FFFFFF;
    width:55%;
    margin-left: 5rem;
    text-align: center;
    height: 70%;
    /* padding: 2rem; */
    border-radius: 5px;

}
@media(max-width:475px){
    .each{
        width: 70%;
        margin-left: 1.5rem;
        ;
    }
}