.parent{
    width:80%;
    background-color: #FFFFFF;
    border:1px solid green;
    border-radius: 12px;
  
    padding: 2rem;
    height: auto;
    position: absolute;
    left:10rem;
    top: 34rem;

}
.child1{
    border:1px solid yellow;
    width:100%;
    height: 50px;
}

.searchDiv{
    border: 1px solid rgb(166, 165, 165);
    width: 30%;
    height: 90%;
    padding: .5rem;
    border-radius: 10px;
}
.searchDiv select{
    border: none;
    width: 100%;
    height: 100%;
}
.searchDiv select:focus{
    outline: none;
   
}
.child1 button{
    background-color: #2AA8FF;
    color: #FFFFFF;
    padding: .5rem 1.4rem;
    border: none;
    border-radius: 8px;

}
.child2{
    border:1px solid yellow;
    width:100%;
    /* height: 50px; */
}
.child2 p{
    font-weight: 700;
    text-align: center;
    /* padding: 1rem; */
    margin: 1.5rem 0rem;
    font-size: 1.2rem;
}

@media(max-width:475px){
    .parent{
        width: 80%;
        left: 2rem;
        height: 200px;
        margin-top: 10rem;
        /* position: sticky; */

    }
    .child1{
        width: 100%;
        height: auto;
    }
    .searchDiv{
        width: 100%;
        margin-bottom: .5rem;
    }

}