.hospi{
    border: 1px solid green;
    background-color: #FFFFFF;
    margin: 2rem 7rem;
    
    padding: 2rem;
    
    width:80%;
    border-radius: 8px;

}
.hospLogo{
    border: 1px solid purple;
}

.logo{
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid red;
    background-color: #8CCFFF;
}
#likes{
    /* margin-bottom: 3rem; */
    padding: .1rem .7rem;
    padding-bottom:.3rem;
    background-color: #01A400;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;

}


.hospInfo{
    border: 1px solid purple;
    padding-top: 1rem;
    width: 50%;

}

.bookBtn{
    border: 1px solid purple;
    width: 29%;
   
}
.bookBtn p{
    color:#01A400;
    margin-bottom: .5rem;
}

.bookBtn .btn{
    background-color: #2AA7FF;
    color :#FFFFFF;
    padding:.5rem 1rem;
    border: none;
    border-radius: 5px;
}
