.hospi{
    border: 1px solid green;
    background-color: #FFFFFF;
    margin: 2rem 7rem;
    
    padding: 2rem;
    width:80%;
    border-radius: 8px;

}
.hospLogo{
    border: 1px solid purple;
}

.logo{
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid red;
    background-color: #8CCFFF;
}
#likes{
    /* margin-bottom: 3rem; */
    padding: .1rem .7rem;
    padding-bottom:.3rem;
    background-color: #01A400;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;

}


.hospInfo{
    border: 1px solid purple;
    padding-top: 1rem;
    width: 50%;

}

.bookedTime{
    padding:.2rem .6rem;
    border: 2px solid #2AA7FF;
    color:#2AA7FF;
    border-radius: 8px;

}

.bookedDate{
    margin-left: .5rem;
    padding:.2rem .6rem;
    border: 2px solid #00A500;
    color: #00A500;
    border-radius: 8px;
}

.bookBtn {
    border: 1px solid rgb(84, 84, 197);
  
}

@media(max-width:475px){
    .hospi{
        width: 100%;
        margin: 2rem 0rem;
        padding:0;
    }
}