.bookedMed{
    width: 100%;
    border: 1px solid yellow;
    padding-top: 5rem;
}
.cards{
    border:1px solid red;
    width:60%;
    padding-top:3rem;
}
.addDiv{
    width:"40%";
    padding-top: 5rem;
}

@media(max-width:475px){
    .bookedMed{
        width: 100%;
    }
    .cards{
        width: 100%;
    }
}