.medicals{
    width: 100%;
    /* border: 1px solid yellow; */
    padding-top: 5rem;
}
.medCards{
    width:60%;
    padding-top:3rem;
    /* border:1px solid red; */
}
.addDiv{
    width: 30%;
    padding-top: 5rem;
}

@media(max-width:475px){
    .medicals{
        width: 100%;
    }
    .medCards{
        width: 100%;
        /* height: ; */
    }
    
}
