.askedqueDiv{
    width: 100%;
    border: 1px solid yellow;
    padding: 1rem;
}
.askedqueDiv h6{
    color: #2AA7FF;

}
.askedqueDiv h1{
    color: #1B3C74;
}

.askedqueData img{
    width: 350px;
    height: 350px;
    
}
.queDiv{
    width: 30%;
}
.faqImg{
    position: relative;
}


.que{
    color: #1B3C74;
    font-weight: bold;
    /* border: 1px solid red; */
    width: 80%;
}
.hpDiv{
    border:1px solid blue;
    height: 100px;
    width: 60%;
    position: absolute;
    top: 12rem;
    left: -6rem;
}
.hpDiv img{
    height: 100%;
    width: 100%;
    
   
    /* object-fit: cover; */
}


@media(max-width:475px){
    .queDiv{
        width: 100%;
        padding-left: 1rem;
    }
    .que{
        width:80%;
    }
    /* .askedqueData{
        padding: 0 3rem;
    } */
    .askedqueData img{
        width: 280px;
        height: 300px;
        
    }
    .hpDiv img{
        width: 100%;
        height: 100%;
    }
    .hpDiv{
        left: -5rem;
        padding-left: 2rem;
    }
}