.navDiv{
    padding:1rem 5rem;
    /* text-align: center; */
    height: 10%;
    /* border: 1px solid purple; */


}
.container{
    width: 10%;
}
.navLogo{
    margin-left: 5rem;
}
.navBtns{
    /* border: 1px solid yellow;
    width: 65%; */
    margin-left: 14rem;
}
#vector{
    padding: 0rem .4rem;
    padding-bottom: .1rem;
    background-color: #2AA8FF;
    /* border: 1px solid red;*/
} 
.eachNav{
    color: #102851;
    text-decoration: none;
    text-align: center;
}
#logoName{
    /* border: 1px solid blue; */
    margin-left: .3rem;
    font-weight: 700;
    color:#2AA8FF; 

}

@media (max-width:475px){
    .navDiv{
        padding:1rem 1rem;
    }
    .container{
        width:80%;
        
    }
}